body {
  margin: 0;
  font-family:  'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 4.25vh;
}

h2{
  font-size: 3.25vh ;
}

h3{
  font-size: 2.25vh;
}

h4{
  font-size: 1.9vh;
}

.tooltip{
  inline-size: 40vw;
  overflow-wrap: break-word;
}

.flexCol{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexRow{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.showItems{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin-bottom: 1em;
}

.setUp{
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #191937;
  background-repeat: repeat-y;
  z-index: 1;
}

.intro{
  animation: fadeOut ease 3.5s;
  -webkit-animation: fadeOut ease 3.5s;
  -moz-animation: fadeOut ease 3.5s;
  -o-animation: fadeOut ease 3.5s;
  -ms-animation: fadeOut ease 3.5s;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #191937;
  background-repeat: repeat-y;
  z-index: 1;
}

.toolbar{
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: -1;
  background-color: #191937;
  height: 5vh;
  justify-content: space-between;
  border-bottom: solid gray 0.1em;
}

.interface-container{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
}

.left-container{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.weather{
  text-align: center;
  margin-top: 1.15em;
  margin-left: 1vw;
  height: 37.5vh;
  order: 1;
  border-radius: 0.5em;
  background-color: #191937 ;
  overflow: hidden;
}

.map{
  margin-top: 1.55em;
  margin-left: 1vw;
  height: 45vh;
  order: 2;
}

.mapDisplay{
  width: 100%;
  height: 85%;
  border-radius: 0.5em;
}

.socials{
  margin-left: 5vw;
  width: 35%;
  margin-top: 3vh;
  margin-left: 1vw;
}

.socialsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 84vh;
}

.socialsDisplay{
  border-radius: 0.5em;
  width: 90%;
  height: inherit;
  margin-left: 0;
  margin-right: 0;
}

.loader{
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height:inherit;
  width:100%;
  background-color: #191937;
}

.tickersTablet{
  margin-left: 5vw;
  width: 31%;
  margin-top: 3vh;
  margin-left: 1vw;
  height: 84vh;
}

.tickersDisplay{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.tweet{
  height: 50px;
  overflow: auto;
}

.redditTablet{
  width: 100%;
  height: inherit;
  overflow: auto;
}

.redditPost{
  border-radius: 0.5em;
  background-color: #191937;
  margin-bottom: 0.7em;
  margin-right: 0.7em;
  padding: 2vh;
  padding-bottom: 0vh;
  padding-top: 0.7em;
}

.redditPost:hover{
  background-color: #222249;
}

.newsTablet{
  width: 100%;
  height: inherit;
  overflow: auto;
}

.article{
  border-radius: 0.5em;
  background-color: #191937;
  margin-bottom: 0.7em;
  padding: 2vh;
  margin-right: 0.7em;
  padding-bottom: 0vh;
  padding-top: 0.7em;
}

.article:hover{
  background-color: #222249;
}

.ticker{
  margin-bottom: 0.7em;
  margin-right: 0.7em;
  display: flex;
  flex-direction: row;
  background-color: #191937;
  border-radius: 0.5em;
  justify-content: space-between;
}

.ticker:hover{
  background-color: #222249;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  66%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  66%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  66%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  66%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  66%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@media (max-width: 480px){
  h1{
    font-size: 4vh;
  }
  
  h2{
    font-size: 3vh ;
  }
  
  h3{
    font-size: 2vh;
  }

  h4{
    font-size: 2vh;
  }

  p{
    font-size: 1.5vh;
  }

  .showItems{
    width: 100%;
  }

  .interface-container{
    flex-direction: column;
  }

  .left-container{
    width: 95%;
    margin-left: 2vw;
  }

  .socials{
    width: 95%;
    margin-left: 2.5vw;
  }

  .tickersTablet{
    width: 95%;
    margin-left: 3vw;
  }

  .tooltip{
    inline-size: 90vw;
  }
}